
/* Your CSS Code here. */
.holder{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
	
}
.item{
	height:180px;
	width: 180px;
	background-color: #12b881;
	border:1px solid black;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 20px
	
	
}

